<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="DXThemeManager" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="Tiraggo" type="Tiraggo.Interfaces.tgConfigSettings, Tiraggo.Core">
      <section name="connectionInfo" type="Tiraggo.Interfaces.tgConfigSettings, Tiraggo.Interfaces" allowLocation="true" allowDefinition="Everywhere" restartOnExternalChanges="true" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <userSettings>
    <DXThemeManager>
      <setting name="ApplicationThemeName" serializeAs="String">
        <value>Office2010Black</value>
      </setting>
    </DXThemeManager>
  </userSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  <Tiraggo>
    <!--<connectionInfo default="SQLite">
    <connections>

      <add name="SQLite" providerMetadataKey="tgDefault" sqlAccessType="DynamicSQL" provider="Tiraggo.SQLiteProvider" providerClass="DataProvider" connectionString="Data Source=database.db;Version=3" />

    </connections>
  </connectionInfo>-->
    <!--<connectionInfo default="SQL">
      <connections>
	  
        <add name="SQL" providerMetadataKey="tgDefault" sqlAccessType="DynamicSQL" provider="Tiraggo.SqlClientProvider" providerClass="DataProvider" connectionString="Data Source=localhost;Initial Catalog=Northwind;User ID=SqlUserName;password=SqlPassword;" />	  

        <add name="SQL_SSPI" providerMetadataKey="tgDefault" sqlAccessType="DynamicSQL" provider="Tiraggo.SqlClientProvider" providerClass="DataProvider" connectionString="Data Source=localhost;Initial Catalog=Northwind;Integrated Security=SSPI;" />

      </connections>
    </connectionInfo>-->
    <connectionInfo default="SQL">
      <connections>
        <add name="SQL" providerMetadataKey="tgDefault" sqlAccessType="DynamicSQL" provider="Tiraggo.SqlClientProvider" providerClass="DataProvider" connectionString="Data Source=localhost;Initial Catalog=Northwind;User ID=SqlUserName;password=SqlPassword;" />
        <add name="SQL_SSPI" providerMetadataKey="tgDefault" sqlAccessType="DynamicSQL" provider="Tiraggo.SqlClientProvider" providerClass="DataProvider" connectionString="Data Source=localhost;Initial Catalog=Northwind;Integrated Security=SSPI;" />
        <add name="SQL" providerMetadataKey="tgDefault" sqlAccessType="DynamicSQL" provider="Tiraggo.SQLiteProvider" providerClass="DataProvider" connectionString="Data Source=C:\MyFolder\Database.db3;Version=3;" />
      </connections>
    </connectionInfo>
  </Tiraggo>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SQLite" publicKeyToken="db937bc2d44ff139" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.108.0" newVersion="1.0.108.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
    <remove invariant="System.Data.SQLite" /><add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" /></DbProviderFactories>
  </system.data>
</configuration>